body {
    font-family: verdana, sans-serif;
    background-color: #d4d4d4;
    margin: 0;
    padding: 0;
    color: #444;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}


h1,h2, h3 {
    color: #005a87;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto; 
    max-width: 500px; 
    display: block; 
}

input[type="text"],
input[type="password"],
input[type="integer"],
select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    width: 20vw;
    background-color: #005a87;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
p {
    font-weight: 600;
    line-height: 1;
}


